html {
    /* prevents padding from adding extre width or height - does not add horizontal scroll bar */
    box-sizing: border-box; 
}

body {
    margin: 0;
    min-height: 100vh; 
    background-color:red;
}